*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background: #E5BEEC;
}

main{
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    width: 500px;
    height: 500px;
    background-color: #FDE2F3;
    border-radius: 20px;
}

img{
    border-radius: 100px;
    width: 200px;
    height: 200px;
}

h3{
    justify-content: center;
    text-align: center;
}

button{
    background: #C9A7EB;
    border: none;
    width: 80px;
    height: 30px;
    border-radius: 20px;
}

.result{
    text-align: center;
}